<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Preguntas Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dirección</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-text>Av. Bolivar esquina Aniceto Arce.</ion-text>
        <hr>
        <ion-text>Horarios de atención: De lunes a viernes de 7:30 a 15:30</ion-text>
        <hr>
        <ion-text>En caso de emergencia llamar al 46961173</ion-text> 
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Requisitos para ser usuario nuevo de SETAR.</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-text>
          <p>• Fotocopia vigente de Carnet de Identidad del solicitante.</p>
          <p>• No debe registrar deudas pendientes por suministro de electricidad u otro concepto.</p>
          <p>• Debe encontrarse en posesión o con la tenencia del inmueble o debe señalar el lugar donde se desarrollará la actividad de la industria eléctrica.</p>
          <p>• Para la acometida y medidor, según la Norma Boliviana NB-777.</p>
          <p>• Pago del cargo por conexión.</p>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Identidades financieras donde puedes realizar los pagos del consumo de energía eléctrica.</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-text>
          <p>• Banco Fie.s.a.</p>
          <p>• Banco Fortaleza</p>
          <p>• Ecofuturo</p>
        </ion-text>
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>
