<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Información de Cobro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    <ion-list-header>
      <ion-label id="title-list">Datos Personales</ion-label>
    </ion-list-header>

    <app-card-perfil 
      [nombre_completo]="nombre_completo"
      [ci]="ci"
      [codigo]="codigo"
    ></app-card-perfil>

    <ion-list-header>
      <ion-label id="title-list">Detalle</ion-label>
    </ion-list-header>
    
    <app-card-dato [lista]="data"></app-card-dato>
    
  </ion-list>

</ion-content>
