<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Información de Cobro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    <ion-list-header>
      <ion-label id="title-list">Datos Personales</ion-label>
    </ion-list-header>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nombre y apellidos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-label>CI: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="card-outline"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
          <hr>
          <ion-label>Codigo: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="card-outline"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
      </ion-card-content>
    </ion-card>

    <ion-list-header>
      <ion-label id="title-list">Detalle</ion-label>
    </ion-list-header>
    <ion-card>
      <ion-card-content>
          <ion-label>Monto a Pagar: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
          <hr>
          <ion-label>Mes: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
          <hr>
          <ion-label>Categoria: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="copy-outline"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
          <hr>
          <ion-label>Fecha Emision: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
          <hr>
          <ion-label>Consumo: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="logo-electron"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
          <hr>
          <ion-label>Monto Pagado: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
          <hr>
          <ion-label>Lectura Actual: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
          <hr>
          <ion-label>Lectura anterior: </ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>11/06/21 642 kw</ion-label>
          </ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
