<ion-card>
  <ion-card-header>
    <ion-card-title>{{nombre_completo}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-label>CI: </ion-label>
      <ion-chip color="tertiary">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>{{ci}}</ion-label>
      </ion-chip>
      <hr>
      <ion-label>Codigo: </ion-label>
      <ion-chip color="tertiary">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>{{codigo}}</ion-label>
      </ion-chip>
  </ion-card-content>
</ion-card>